.fixator
{
  width: 1200px;
  margin: 0 auto;
  background: rgba(132, 157, 143, 0.8) url('../img/slider/slide_1.png') no-repeat center top;
}

.fixed-width-content
{
  width: 1146px;
  padding-left: 27px;
  padding-right: 27px;
}

#slider-btn-1,
#slider-btn-2,
#slider-btn-3
{
  display: none;
}

/*** header ***/
header
{
  position: relative;
  padding-top: 10px;
  border: 1px solid brown;
  min-height: 100px;
}

/*** logo ***/
header img.logo
{
  position: absolute; /* it is the tallest element so other elements are aligned at the middle */
  left: -5px;
  top: 10px;
}

/*** menu ***/
nav
{
  position: absolute;
  left: 178px;
  top: 30px;
  font-size: 0px; /* delete inline-block spaces between <li> tags */
}

nav.text-menu ul
{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.main-menu > li
{
  display: inline-block;
  margin-right: 26px;
  position: relative; /* to underline anchor */
}

.main-menu > li:last-child
{
  margin-right: 0;
}

.main-menu > li > a
{
  display: block;
  padding: 8px 14px;
  background: none;
}

.main-menu > li > a::after
{
  display: block;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  left: 14px;
  right: 14px;
  top: 26px;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-menu > li > a:hover
{
  background: #f7f6f3 none repeat scroll 0 0;
     border-radius: 30px;
     color: #333;
}

/*** menu-buttons ***/
.menu-controls
{
  position: absolute;
  right: 0px;
  top: 23px;
  font-size: 0px;
}

.menu-controls .menu-control
{
  display: inline-block;
  padding-top: 6px;
  padding-left: 16px;
  margin-left: 10px;
}

.menu-controls .menu-control .search
{
  padding: 0px;
  margin-left: 6px;
}

.info-container
{
  position: absolute;
  right: 0px;
  top: 73px;
}

/*** slider ***/
.slider
{
  height: 210px;
  margin: 370px auto 0px;
  width: 670px;
  border: 1px solid brown;
}

.slider .slide:nth-child(n+2)
{
  display: none;
}

.slider .slide
{
  text-align: center;
}

.slider .slide .title
{
  /* remove the default empty space */
  margin-top: 0px;
  margin-bottom: 0px;
}

/*** promos ***/
.promos
{
  margin-top: 41px; /* distance to slider */
  /*background-color: rgba(255, 0, 0, 0.1);*/
}

.promos .promo
{
  width: 560px;
  min-height: 230px;
  border: 1px solid brown;
  padding: 20px 21px 24px 20px;
  box-sizing: border-box;
}

.promos .promo h1,
.promos .promo p
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.promos .promo p
{
  margin-top: 21px;
}

.promos .promo a.button
{
  display: block;
  margin-top: 43px;
  margin-left: 350px;
}

.promos .strawberry
{
  float: left;
  background: url('../img/promos/Малиновый фон.png') no-repeat;
}

.promos .chocolate
{
  float: right;
  background: url('../img/promos/Шоколадный фон.png') no-repeat;
}

.promos::after
{
  content: "";
  display: block;
  clear: both;
}

/*** popular-ice-creams ***/
.popular-ice-creams
{
  margin-top: 40px; /* distance to promos */
  border: 1px solid brown;
  font-size: 0px; /* delete space character between .ice-cream blocks */
}

.popular-ice-creams .ice-cream
{
  display: inline-block;
  position: relative; /* price and hit label are absolute */
  width: 266.5px;
  margin-right: 26px;
  vertical-align: top;
}

.ice-cream:last-child
{
  margin-right: 0px;
}

.popular-ice-creams .ice-cream .title
{
  /* margin-top: 14px; distance to ice-cream picture */
  margin: 14px 10px 0px;
  text-align: center;
}

.popular-ice-creams .ice-cream .price
{
  position: absolute;
  left: 0px;
  top: 208.5px;
}

.popular-ice-creams .ice-cream .hit-label
{
  position: absolute;
  left: 0px;
  top: 0px;
}

/*** glacy-intro ***/
.glacy-intro
{
  margin-top: 37px; /* distance to .popular-ice-creams block*/
  padding-left: 21px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 0px;
  border: 1px solid brown;
}

.glacy-intro h1
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.glacy-intro .our-plus
{
  display: inline-block;
  position: relative; /* icon is absolute */
  vertical-align: top;
  width: 482px;
  margin-top: 26px; /* distance to intro <h1> tag */
  padding-left: 57px;
  background-image: url('../img/glacy-intro/waffle.png');
  background-repeat: no-repeat;
}

.glacy-intro .our-plus p
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.glacy-intro .our-plus .icon
{
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: -10px;
}

.glacy-intro .our-plus .icon-own-means
{
  background: url('../img/glacy_intro/Мороженко.png') no-repeat;
}

.glacy-intro .our-plus .icon-our-providers
{
  background: url('../img/glacy_intro/Корова.png') no-repeat;
}

.glacy-intro .our-plus .icon-raw-milk
{
  background: url('../img/glacy_intro/Листик.png') no-repeat;
}

.glacy-intro .our-plus .icon-delivery
{
  background: url('../img/glacy_intro/Градусник.png') no-repeat;
}

/*** blog ***/
.communication
{
  margin-top: 41px;
}

.communication .block
{
  width: 560px;
  height: 220px;
  box-sizing: border-box;
  border: 1px solid brown;
}

.blog-ad
{
  float: left;
  background-image: url('../img/blog/Клубничный фон.png');
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-left: 20px;
}

.blog-ad .new-in-blog
{
  margin-bottom: 10px;
}

.blog-ad h2
{
  width: 285px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subscription
{
  float: right;
  background-image: url('../img/blog/Подложка.png');
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-left: 26px;
}

.subscription p
{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 506px;
}

.subscription form
{
  margin-top: 35px;
}

.subscription input[type="email"]
{
  width: 328px;
  padding: 12px 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.communication::after
{
  content: "";
  display: block;
  clear: both;
}

/*** map temporary mockup without JavaScript ***/
.map img
{
  margin-left: -28px;
  margin-top: 39px;
  border: 1px solid brown;
}

.map .dialog
{
  display: none;
}

/*** footer ***/
footer
{
  height: 103px;
  position: relative;
  border: 1px solid brown;
}

footer .social-networks
{
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
}

footer .social-networks .icon
{
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  margin-right: 12px;
}

footer .social-networks .icon-twitter
{
  background: url('../img/footer/social_networks/Твитер.png') no-repeat;
}

footer .social-networks .icon-instagram
{
  background: url('../img/footer/social_networks/Инста.png') no-repeat;
}

footer .social-networks .icon-fb
{
  background: url('../img/footer/social_networks/ФБ.png') no-repeat;
}

footer .social-networks .icon-vk
{
  background: url('../img/footer/social_networks/ВК.png') no-repeat;
}

footer .docs
{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 356px;
  margin-top: 36px;
  margin-left: 236px;
}

footer .docs a:nth-of-type(1)
{
  margin-right: 32px;
}

footer .docs a:nth-of-type(3)
{
  margin-right: 44px;
}

footer .docs .icon-heart
{
  position: absolute;
  left: -23px;
  top: 2.5px;
  background: url('../img/footer/Сердце.png') no-repeat;
}

footer .docs .icon
{
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
}

footer .company
{
  margin-right: 17px;
  margin-top: 6px;
}

footer img.logo
{
  display: block;
  margin-top: 18px;
  margin-right: 80px;
}

footer .left-block
{
  float: left;
}

footer .right-block
{
  float: right;
}

/*** catalog ***/

header .breadcrumbs
{
  position: absolute;
  left: 0px;
  bottom: -1px;
}

header .breadcrumbs a::after
{
  content: "»";
  display: inline-block;
  vertical-align: top;
  margin: 0px 7px;
}

main
{
  position: relative; /* to position paginator */
  padding-bottom: 30px; /* space for paginator */

  margin-bottom: 34px; /* distance to footer */
}

main > h1
{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 8px;
  border: 1px solid brown;
}

main > .controls
{
  width: 839px;
  height: 138px;
  margin-top: 32px;
  border: 1px solid brown;
}

.catalog
{
  display: table;
  border: 1px solid brown;
  margin-top: 34px;
}

.catalog ul
{
  display: table-row;
}

.catalog ul li
{
  display: table-cell;
  background-color: lightblue;
  height: 406px;
}

.catalog-paginator
{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/******************************** характеристики шрифтов****************************/
body
{
  font-size: 16px;
  line-height: 22px;
  color: rgb(50, 50, 50);
  font-family: "Roboto";
  font-weight: 400;
}

a
{
  color: white;
  text-decoration: none;
}

/********************************catalog.html***************************************/
header .breadcrumbs
{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

h1.current-ice-cream-type
{
  font-size: 35px;
  line-height: 41px;
  font-family: Roboto-Bold;
}

main > h1
{
  font-size: 35px;
  line-height: 41px;
  color: white;
  font-weight: 700;
}

.controls .control
{
  line-height: 18px;
  font-weight: 500;
}

.controls .control .control-label
{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.catalog-paginator
{
  line-height: 18px;
  font-weight: 500;
}
/***********************************************************************************/

/********** решение для кросс-браузерного задания цвета плэйсхолдерам***********/
/*http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgb(153, 153, 153);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgb(153, 153, 153);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgb(153, 153, 153);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgb(153, 153, 153);
}

input[type="email"]
{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/*
 Some browsers use additional default CSS for some input types (email, search).
 These might affect the rendering in unexpected ways.
 Use the properties -webkit-appearance and -moz-appearance to change that
*/
[type="email"], [type="search"]
{
  -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/********************************header*****************************************/
header
{
  font-weight: 700;
  color: white;
}

header .main-menu a
{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

header .menu-controls .icon-title
{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

header .info-container .schedule
{
  font-size: 14px;
  line-height: 16px;
}

header .info-container .tel-number
{
  font-size: 22px;
  line-height: 24px;
}
/********************************slider****************************************/
.slider .slide
{
  color: white;
  font-weight: 700;
}

.slider .slide a
{
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.slider .slide .title
{
  font-size: 60px;
  line-height: 60.35px;
}

/********************************promos****************************************/
.promos .promo
{
  color: white;
  font-weight: 700;
}

.promos .promo h1
{
  font-size: 35px;
  line-height: 41px;
}

.promos .promo p
{
  font-size: 18px;
}

.promos .promo a
{
  font-size: 18px;
  line-height: 24px;
}

/************************ice-cream************************************/
.popular-ice-creams .ice-cream .title
{
  font-size: 16px;
  font-weight: 500;
}

.popular-ice-creams .ice-cream .price
{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: white;
}

.popular-ice-creams .ice-cream .price .per-kg
{
  font-size: 30px;
}
/********************************glacy-intro***********************************/
.glacy-intro h1
{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.glacy-intro .our-plus p
{
  font-size: 16px;
  line-height: 22px;
}

/****************************blog and subscription*****************************/
.communication .blog-ad new-in-blog
{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.communication .blog-ad h2 a
{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(50, 50, 50);
}

.communication .subscription p
{
  color: rgb(90, 90, 90);
}

.communication .subscription form input[type="submit"]
{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/************************dialog***********************************************/
.dialog
{
  font-size: 14px;
  line-height: 20px;
}

.dialog .address .location
{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.dialog .tel .number
{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.dialog .tel .call-hours
{
  line-height: 22px;
}

.dialog a.open-form
{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/****************************footer********************************************/
footer .docs
{
  font-size: 13px;
  line-height: 18px;
}

footer .docs a:nth-child(1)
{
  font-weight: 700;
}

footer .company
{
  font-size: 12px;
  line-height: 18px;
  color: white;
}
